@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #d4d4d4;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

tit-form-ing {
  display: flex;
  text-align: center;
}

label,
select,
input {
  margin-right: 5px;
}
.custom-input {
  border: none;
  background-color: transparent;
  outline: default;
}
.custom-input:focus {
  outline: none;
}
