@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #d4d4d4;
  display: flex;
  justify-content: center;

  min-height: 100vh;
}
tit-form-ing{
  display:flex;
  text-align: center;
}
label, select, input{
  margin: 5px;
}
.custom-input {
  /* border: none; */
  outline: none;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  display: inline-block;
  margin: 0;
}

